body {
  padding-top: 200px;
  @media (max-width: $grid-float-breakpoint) {
    padding-top: 150px;
  }
}

/* Navbar custom styles */

.navbar {
  font-family: $font-family-title;

  @media (max-width: $grid-float-breakpoint) {
    min-height: 80px;
  }
}

.navbar-header > h1 {
  margin: 0;
}
.navbar-brand {
  float: left;
  padding: 0;
  font-size: 45px;
  line-height: 40px;
  height: $navbar-height;
  padding: $grid-gutter-width/2;
  span {@include transition(color .15s linear);}
  @include transition(font-size .5s ease, height .15s linear);
  &:hover,
  &:focus {
    text-decoration: none;
    > span > span {
      color: $brand-aquamarine;
      &.text-yellow {
        color: $brand-dark-brown;
      }
    }
  }
  > span {
    padding: 20px;
    display: block;
    float: left;
    > span {
      float: left;
      clear: both;
    }
  }
  > img {
    display: block;
    float: left;
    max-height: 100px;
    @include transition(max-height .5s ease);

  }

  @media (max-width: $grid-float-breakpoint) {
    height: 80px;
    font-size: 30px;
    line-height: 25px;
    > img {
      max-height: 65px;
    }
    > span {
      padding: 10px 0 10px 10px;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: -$navbar-padding-horizontal;
    }
  }
}

// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-default {
  border-top: 15px solid $brand-dark-brown;
  margin-bottom: 0;
}
.navbar-default .navbar-nav {
  margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);

  > li > a {
    font-size: 20px;
    line-height: $line-height-computed;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

    &:hover {
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    }

  }

  // Uncollapse the nav
  @media (min-width: $grid-float-breakpoint) {
    float: left;
    margin: 0;
    > li {
      float: left;
      > a {
        padding-top:    80px;
        padding-bottom: 10px;
        padding-left:  20px;
        padding-right:  25px;
        min-width: 130px;
        background-position: 20px -160px;
        background-repeat: no-repeat;
        @include transition(background-position .5s ease, padding .5s ease);
        &:hover {
          background-position: 10px 0;
        }
      }

      &:nth-child(1) a {
        background-color: lighten($brand-aquamarine, 5%);
        background-image: url('../images/alfa.svg');
        &:hover {
          background-color: lighten($brand-aquamarine, 3%);
        }
      }
      &:nth-child(2) a {
        background-color: lighten($brand-yellow, 5%);
        background-image: url('../images/beta.svg');
        &:hover {
          background-color: lighten($brand-yellow, 3%);
        }
      }
      &:nth-child(3) a {
        background-color: lighten($brand-orange, 5%);
        background-image: url('../images/gamma.svg');
        &:hover {
          background-color: lighten($brand-orange, 3%);
        }
      }
    }
  }
}

.navbar-default.cbp-af-header-shrink {
  @media (min-width: $grid-float-breakpoint) {
    min-height: $navbar-height/2;
    .navbar-nav {
      > li {
        > a {
          padding-top: 30px;
        }
      }
    }
    .navbar-brand {
      font-size: 25px;
      line-height: 20px;
      height: $navbar-height/2;
      padding: $grid-gutter-width/4;
      > span {
        padding: 10px;
      }
      > img {
        max-height: 50px;
      }
    }
  }
}

// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

.navbar-toggle {
  background-color: darken($brand-aquamarine, 5%);
  &:hover,
  &:focus {
    border-color: darken($brand-yellow, 10%);
  }
  // Bars
  .icon-bar {
    height: 3px;
    border-radius: 2px;
  }

  @media (max-width: $grid-float-breakpoint) {
    margin: 30px 30px 15px 30px;
  }
}
// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-default .navbar-nav {
  @media (max-width: $grid-float-breakpoint-max) {
    margin: 0px -15px;
    > li > a {
      background-color: $brand-aquamarine;
      padding-top:    15px;
      padding-bottom: 15px;
      border-bottom: 1px solid darken($brand-aquamarine, 20%);
      &:hover {
        background-color: $brand-yellow;
      }
    }

    .active > a {
      background-color: $brand-orange;
      &:hover {
        background-color: $brand-yellow;
      }
    }

    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      > li > a,
      .dropdown-header {
        padding: 5px 15px 5px 25px;
      }
      > li > a {
        line-height: $line-height-computed;
        &:hover,
        &:focus {
          background-image: none;
        }
      }
    }
  }
}

body.logged-in header.navbar-default {
  margin-top: 32px;
}
/* Page header */
.page-header {
  margin: 10px 0 20px;
  border-bottom: none;
  h1 {
    font-weight: 600;
    font-family: $font-family-title;
    color: $brand-yellow;
  }
}


/* Styles for contact page */
.contacto{
  .form-group{
    label {
      float: right;
      color: $gray-light;
    }
  }
  #mailbox-image {
    margin-bottom: 30px;
  }
}

/* Styles for nosotros */
.page-template-template-nosotros {
  .liquidator {
    margin-bottom: 20px;
    .frame {
      margin-top: 20px;
    }
    .description {
      text-align: justify;
      h3 {
        font-family: $font-family-title;
      }
      p {
        color: $gray-light;
      }
    }
    footer {
      text-align: right;
      a {
        color: $brand-orange;
        &:hover {
          color: $brand-aquamarine;
          text-decoration: none;
        }
      }
    }
  }
  #game-machine img{
    margin-top: 30px;
    margin: 0 auto;
  }

}

svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.frame {
  height: 250px;
}

/* Aviso cookies */
#obt_ga_banner {
  position: absolute;
  top: 0;
  z-index: 99999;
  font-size: 12px;
  #obt_ga_contenido h2 {
    font-size: 25px;
  }
  #obt_ga_boton {
    font-size: 15px;
  }
}

