/* Text colours */
@include text-emphasis-variant('.text-orange', $brand-orange);
@include text-emphasis-variant('.text-aquamarine', $brand-aquamarine);
@include text-emphasis-variant('.text-yellow', $brand-yellow);

/* Labels */
.label-aquamarine{
  @include label-variant(lighten($brand-aquamarine, 10%));
}
.label-orange {
  @include label-variant(lighten($brand-orange, 10%));
}
.label-yellow {
  @include label-variant(lighten($brand-yellow, 10%));
}

/* 404 Error page */
.error404 .page-header {
  text-align: center;
}
  .error404 .message-404 {
  margin: 30px 0;
}

.error404 .search-form {
  padding: 20px 0;
  text-align: center;
}

/* Homepage */
.home .page-header {
  display: none;
}

/* Tags */
.tagcloud {
  margin: 40px 0 20px 0;
  a {
    padding: .4em .9em .4em;
    margin: 5px 0 5px 5px;
    @extend .label;
    @extend .label-aquamarine;
    font-size: 12px !important;
    line-height: 13px;
    &:nth-child(3n+1) {
      @extend .label-orange;
    }
    &:nth-child(3n+2) {
      @extend .label-yellow;
    }
  }
}




@media (max-width: $screen-sm) {
  $font-size-base:16px;
  $font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
  $font-size-h2:            floor(($font-size-base * 1.9)); // ~30px
  $font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
  $font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
  $font-size-h5:            $font-size-base;
  $font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

  h1, .h1 { font-size: $font-size-h1; }
  h2, .h2 { font-size: $font-size-h2; }
  h3, .h3 { font-size: $font-size-h3; }
  h4, .h4 { font-size: $font-size-h4; }
  h5, .h5 { font-size: $font-size-h5; }
  h6, .h6 { font-size: $font-size-h6; }
  body{font-size: $font-size-base}
}

@media (max-width: $screen-xs) {
  $font-size-base:14px;
  $font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
  $font-size-h2:            floor(($font-size-base * 1.9)); // ~30px
  $font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
  $font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
  $font-size-h5:            $font-size-base;
  $font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

  h1, .h1 { font-size: $font-size-h1; }
  h2, .h2 { font-size: $font-size-h2; }
  h3, .h3 { font-size: $font-size-h3; }
  h4, .h4 { font-size: $font-size-h4; }
  h5, .h5 { font-size: $font-size-h5; }
  h6, .h6 { font-size: $font-size-h6; }
  body{font-size: $font-size-base}

}