.post {
  text-align: justify;
  margin-bottom: 50px;
  .entry-summary {
    float: left;
  }
  > header {
    font-size: 14px;
    > .wp-post-image {
      margin: 30px 0 20px 0;
      float: left;
    }
    > .avatar {
      border-radius: 50%;
      display: block;
      float: left;
      margin-right: 10px;
    }
    .meta-info {
      float: left;
      .author,
      time {
        display: inline-block;
        clear: both;
        float: left;
      }
    }
    a {
      text-decoration: none;
    }
    h2 {
      a {
        color: $gray-dark;
        font-weight: 600;
      }
      float: left;
      clear: both;
    }
  }
}

#comments {
  h2 {
    font-size: 18px;
    span {
      color: $brand-orange;
    }
  }
  font-size: 16px;
  margin-top: 40px;
  #reply-title {
    color: $brand-orange;
  }

  .comment-meta {
    font-size: 14px;
    > .comment-author {
      a {
        color: $gray-light;
      }
      img {
        border-radius: 50%;
        margin-right: 5px;
      }
    }

    time {
      padding-left: 37px;
      font-style: italic;
    }


    > .comment-awaiting-moderation {
      margin: 12px 0;
      color: $brand-dark-brown
    }
  }
}


/* Single entry */
.single {
  .post {
    header {
      h1 {
        float: left;
        margin: 30px 0 20px 0;
        display: block;
        width: 100%;
      }
    }
  }
}